<!doctype html>
html(lang="ru")
    head

        base(href='./../../')
        include ../../parts/_meta
        +meta("Uprest - Smart Restaurant POS")
        block scripts
            include ../../parts/_head-scripts

    body
        section.overflow
            .inner-page
                include ../../parts/_header

                section.tail
                    section.hero.hero--service
                        .container
                            .hero__inner
                                section.hero__content
                                    include ../../parts/_breadcrumbs
                                    +breadcrumbs2lvl('Functionalities', 'Smart Restaurant POS')
                                    h1.hero__title Smart Restaurant&nbsp;POS
                                    .hero__text
                                        p= 'Fully functional POS \nwith many back office functions'
                                    footer.hero__footer
                                        button.hero__button.btn.js-open-dialog(data-dialog-id="order", type="button") Book a demo
                                        span.price.hero__price from 49€/month
                                aside.hero__picture
                                    .hero__picture-wrapper.lazy-wrapper
                                        img.hero__picture-img.lazy(alt='' data-src='./img/pos-hero.jpg' style='')





                    section.page-tail
                        section.features.splide#features-slider
                            .container

                                .splide__arrows
                                    button.splide__arrow.splide__arrow--prev(type='button', aria-label='Previous')
                                        img.lazy(src='./img/arrow-right-icon.png' alt='')
                                    button.splide__arrow.splide__arrow--next(type='button', aria-label='Next')
                                        img.lazy(src='./img/arrow-right-icon.png' alt='')
                                .splide__track
                                    .features__list.splide__list
                                        .feature.splide__slide
                                            picture.feature__img
                                                img(data-splide-lazy='./img/pos-pic-1.jpg' alt='')
                                            h3.feature__title Certified by Financas
                                            .feature__text
                                                p= "Fully compliant with Portuguese legal requirements. Approved by Autoridade Tributária e Aduaneira"

                                        .feature.splide__slide
                                            picture.feature__img
                                                img(data-splide-lazy='./img/pos-pic-2.jpg' alt='')
                                            h3.feature__title Delivery and reservations
                                            .feature__text
                                                p= "Integrated delivery and table reservation services. Glovo, Bolt, Uber Eats, Fork, and others. Takeout orders and table"

                                        .feature.splide__slide
                                            picture.feature__img
                                                img(data-splide-lazy='./img/pos-pic-3.jpg' alt='')
                                            h3.feature__title Back-office functions
                                            .feature__text
                                                p= "Reports, inventory management, product write-offs, and transfers"

                                        .feature.splide__slide
                                            picture.feature__img
                                                img(data-splide-lazy='./img/pos-pic-4.jpg' alt='')
                                            h3.feature__title Staff
                                            .feature__text
                                                p= "Time tracking, shift scheduling, salary and bonus calculations, personal sales"


                        include ../../parts/_faq
                include ../../parts/_footer
        include ../../parts/_dialogs
        include ../../parts/_footer-scripts.html
        script(defer,src='./js/main.js')