<!doctype html>
html(lang="ru")
    head

        base(href='./../../')
        include ../../parts/_meta
        +meta("Uprest - Restaurant stock management")
        block scripts
            include ../../parts/_head-scripts

    body
        section.overflow
            .inner-page
                include ../../parts/_header

                section.tail
                    section.hero.hero--service
                        .container
                            .hero__inner
                                section.hero__content
                                    include ../../parts/_breadcrumbs
                                    +breadcrumbs2lvl('Functionalities', 'Restaurant stock management')
                                    h1.hero__title Restaurant stock management
                                    .hero__text
                                        p= 'Probably the best in the world'
                                    footer.hero__footer
                                        button.hero__button.btn.js-open-dialog(data-dialog-id="order", type="button") Book a demo
                                        span.price.hero__price from 49€/month
                                aside.hero__picture
                                    .hero__picture-wrapper.lazy-wrapper
                                        img.hero__picture-img.lazy(alt='', data-src='./img/stock-hero.jpg' style='')




                    section.page-tail
                        section.features.splide#features-slider
                            .container

                                .splide__arrows
                                    button.splide__arrow.splide__arrow--prev(type='button', aria-label='Previous')
                                        img.lazy(src='./img/arrow-right-icon.png' alt='')
                                    button.splide__arrow.splide__arrow--next(type='button', aria-label='Next')
                                        img.lazy(src='./img/arrow-right-icon.png' alt='')
                                .splide__track
                                    .features__list.splide__list
                                        .feature.splide__slide
                                            picture.feature__img
                                                img(data-splide-lazy='./img/stock-pic-1.jpg' alt='')
                                            h3.feature__title Real-time inventory
                                            .feature__text
                                                p= "One-touch reports \nAny format and grouping \nData-access configuring \nInventory balances in both physical quantities and"

                                        .feature.splide__slide
                                            picture.feature__img
                                                img(data-splide-lazy='./img/stock-pic-2.jpg' alt='')
                                            h3.feature__title Real-time costs
                                            .feature__text
                                                p= "The exact and up-to-date cost of each dish 5 methods of cost calculation - from moving average to last invoiced"

                                        .feature.splide__slide
                                            picture.feature__img
                                                img(data-splide-lazy='./img/stock-pic-3.jpg' alt='')
                                            h3.feature__title Detailed recipes
                                            .feature__text
                                                p= "\"Real-time price of each ingredient. Nutritional information. Photos, version history, modifiers, size scale. The ability to display recipes on a kitchen monitor\""

                                        .feature.splide__slide
                                            picture.feature__img
                                                img(data-splide-lazy='./img/stock-pic-4.jpg' alt='')
                                            h3.feature__title Reports
                                            .feature__text
                                                p= "\"Warehouse report builder\" \n\"Detailed reports on goods movement\""

                                        .feature.splide__slide
                                            picture.feature__img
                                                img(data-splide-lazy='./img/stock-pic-5.jpg' alt='')
                                            h3.feature__title Inventory audits
                                            .feature__text
                                                p= "\"Mobile customizable inventory audits\" \n\"Convenient analysis of inventory audit results\""

                        include ../../parts/_faq
                include ../../parts/_footer
        include ../../parts/_dialogs
        include ../../parts/_footer-scripts.html
        script(defer,src='./js/main.js')